/******************************** ACCESSIBILITY TOOLS *******************************/
#block-cm-accessibility-cm-accessibility-tools { position: fixed; right: 0; top: 0; z-index: 999; }
#block-cm-accessibility-cm-accessibility-tools *[role="button"] { cursor: pointer; }
#block-cm-accessibility-cm-accessibility-tools *[role="button"]:hover { text-decoration: underline; }
#toggle-accessibility-tools {
  background: rgba(91,160,208,0.9); color: #FFF; cursor: pointer;
  padding: 0 10px; min-width: 140px;
  border-radius: 0 0 5px 5px;
  font-size: 18px; text-align: center;
}
#accessibility-tools-wrapper {
  display: none;
  list-style: none;
  padding: 10px; margin-top: 10px;
  background-color: #FFF; border-radius: 7px; border: 1px solid #5BA0D0;
}

body.accessibility-mode * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}