#enable-zoom { display: none; cursor: pointer; }

.zoom-area {
  outline: 1px dotted red;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAENJREFUGNNjGCyANQDOjFoKYzGuWuUAY67MgjHZVmZNgDGnhqExEQoQ2hCGIawIQFgcgnCFKJKDHOBMxgCEsAPDoAAA+50QXoAEPooAAAAASUVORK5CYII=);
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.zoom-area * {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAENJREFUGNNjGCyANQDOjFoKYzGuWuUAY67MgjHZVmZNgDGnhqExEQoQ2hCGIawIQFgcgnCFKJKDHOBMxgCEsAPDoAAA+50QXoAEPooAAAAASUVORK5CYII=) !important;
  cursor: zoom-in !important;
  cursor: -webkit-zoom-in !important;
  cursor: -moz-zoom-in !important;
}
.zoom-area .zoom-clickable {
  cursor: pointer !important; 
}
/*.zoom-area:after {
  content: '';
  width: 32px; height: 30px;
  position: absolute; top: 50%; left: 50%;
  background: url('/sites/all/themes/sharonim/css/images/search_button_sprite.png') no-repeat 0px 0px;
}*/