#accessibility-plugin-text-magnifier { font-family: Arial, sans-serif; text-align: center; }
#accessibility-plugin-text-magnifier .font-resize-link { cursor: pointer; }
#accessibility-plugin-text-magnifier .font-resize-link.active { text-decoration: underline; }
#accessibility-plugin-text-magnifier .font-resize-link.large { font-size: 1.15em; }
#accessibility-plugin-text-magnifier .font-resize-link.xlarge { font-size: 1.25em; }

