#accessibility-plugin-colors { font-family: Arial, sans-serif; margin-top: 5px; text-align: center; }
#accessibility-plugin-colors .color-link {
  display: inline-block; text-align: center;
  line-height: 24px; height: 24px; width: 24px;
  border: 1px solid #000;
  cursor: pointer;
}
#accessibility-plugin-colors .color-link.active { font-weight: bold; }
#accessibility-plugin-colors .color-link.desaturate { color: #000; background-color: gray; }
#accessibility-plugin-colors .color-link.invert { color: #FFF; background-color: #000; }