/******************************** ACCESSIBILITY CHECKER *******************************/
.quail-result-wrapper { position: relative; }
.quail-result { font-size: 14px; }
/*.quail-result:before {
  content: '';
  position: absolute; top: 0; left: 0;
  width: 48px; height: 48px;
  padding: 3px; border-radius: 3px;
  background: url('../images/acc_error.png') no-repeat 0px 0px;
}*/
.quail-tooltip {
  position: fixed; z-index: 9999999; top: 200px; left: 50%; margin-left: -290px;
  width: 580px; max-height: 100%; overflow: auto;
  padding: 50px 50px; 
  background: url('../images/acc_error.png') no-repeat top left;
  text-align: left; direction: ltr;
  font-size: 14px; background-color: #333; color: #FFF;
}
.quail-result.severe { box-shadow: inset 0px 0px 10px red; }
.quail-result.moderate { box-shadow: inset 0px 0px 10px orange; }
.quail-result.suggestion { box-shadow: inset 0px 0px 10px green; }

.quail-message { padding: 4px; border-radius: 2px; background: #d8b3b3; }

#accessibility-check{
  position: fixed; bottom: 0px; right: 30px; z-index: 1000;
  color: #fff; font-size: 14px;
  background: #000;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

#accessibility-report {
  background: #333; color: #FFF; font-size: 14px;
  padding: 20px 30px; width: 580px;
  direction: ltr; text-align: left;
}
#accessibility-report strong { font-weight: bold; }
#accessibility-report strong.severe { color: red; }
#accessibility-report strong.moderate { color: orange; }
#accessibility-report strong.suggestion { color: green; }